# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/

# Build & Test Artifacts
build/
dist/
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage

# Git
.git/
.gitignore

# IDE / Editor / DevContainer
.vscode/
.idea/
.devcontainer/
*.swp

# OS junk
.DS_Store

# Logs & Secrets
*.log
.env

# Docker itself
Dockerfile
docker-compose.yml
.dockerignore